* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

/*HEADER*/

header {
	background-color: rgba(173,216,230,255);
}


.h-container {
	max-width: 1200px;
	height: 50px;
	background-color: rgba(173,216,230,255);
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.h-row {
	display: flex;
	background-color: rgba(218,165,32,255);
	height: 30px;
	border: 1px dotted black;
}

.h-col-right {
	margin-left: 5px;
	width: 240px;
	height: 30px;
	display: flex;
	align-items: center;
}

.h-col-center {
	width: 720px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: 1px dotted black;
	border-right: 1px dotted black;
}

.h-col-left {
	margin-right: 5px;
	width: 240px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

#links {
	list-style-type: none;
}

#links li {
	display: inline-block;
}

/*MAIN ROWS*/

.m-row-alpha {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
	width: 100%;
	background-color: rgba(173,216,230,255);
}

.m-row-beta-one{
	height: 700px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.m-row-beta-two {
	height: 700px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row-reverse;
	background-color: rgba(211,211,211,255);
}

.m-row-gamma {
	background-color: rgba(211,211,211,255);
	height: 1000px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.m-row-delta {
	height: 700px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(35,39,42,255);
}

/*BOXS*/

.fuxia-box {
	height: 300px;
	width: 1080px;
	background-color: rgba(238,130,238,255);
	border: 1px dashed black;
}

.blue-box {
	height: 500px;
	width: 800px;
	background-color: rgba(30,144,255,255);
	border: 1px dashed black;
}

.pink-box {
	height: 500px;
	width: 400px;
	background-color: rgba(255,192,203,255);
	border: 1px dashed black;
}

.green-box {
	height: 800px;
	width: 1200px;
	background-color: green;
	border: 1px dashed black;
}

.pink_salmon-box {
	height: 500px;
	width: 480px;
	background-color: rgba(240,128,128,255);
	border: 1px dashed rgb(1, 21, 44);
}

.aqua_green-box {
	height: 500px;
	width: 240px;
	background-color: rgba(32,178,170,255);
	border: 1px dashed white;
}


/*FOOTER*/

footer {
	background-color: rgba(35,39,42,255);
	display: flex;
	justify-content: center;
	align-items: flex-end;
	border-top: 2px solid darkgrey;
	border-bottom: 1px solid darkgray;
	height: 80px;
}

.f-container {
	height: 60px;
	width: 1200px;
	background-color: rgba(127,255,212,255);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.f-content-right {
	width: 50px;
	height: 30px;
	background-color: rgba(255,182,193,255);
	border: 1px dashed black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.f-content-left {
	width: 80px;
	height: 30px;
	background-color: rgba(255,182,193,255);
	border: 1px dashed black;
	display: flex;
	justify-content: center;
	align-items: center;
}