* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.container-full {
	max-width: 100%;
}

/*HEADER*/

header {
	background-color: rgba(173,216,230,255);
}


.h-container {
	max-width: 1200px;
	height: 50px;
	background-color: rgba(173,216,230,255);
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.h-row {
	display: flex;
	background-color: rgba(218,165,32,255);
	height: 30px;
	border: 1px dotted black;
}

.h-col-right {
	margin-left: 5px;
	width: 240px;
	height: 30px;
	display: flex;
	align-items: center;
}

.h-col-center {
	width: 720px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: 1px dotted black;
	border-right: 1px dotted black;
}

.h-col-left {
	margin-right: 5px;
	width: 240px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

#links {
	list-style-type: none;
}

#links li {
	display: inline-block;
}

/*MAIN ROWS*/

.m-row-alpha {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
	width: 100%;
	background-color: blue;
}

.m-row-beta-one{
	height: 700px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.m-row-beta-two {
	height: 700px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row-reverse;
	background-color: lightslategray;
}

.m-row-gamma {
	background-color: lightslategray;
	height: 1000px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}

.m-row-delta {
	height: 700px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}

/*BOXS*/

.fuxia-box {
	height: 300px;
	width: 1080px;
	background-color: fuchsia;
	border: 1px dashed black;
}

.blue-box {
	height: 500px;
	width: 800px;
	background-color: aqua;
	border: 1px dashed black;
}

.pink-box {
	height: 500px;
	width: 400px;
	background-color: pink;
	border: 1px dashed black;
}

.green-box {
	height: 800px;
	width: 1200px;
	background-color: green;
	border: 1px dashed black;
}

.pink_salmon-box {
	height: 500px;
	width: 480px;
	background-color: salmon;
	border: 1px dashed rgb(1, 21, 44);
}

.aqua_green-box {
	height: 500px;
	width: 240px;
	background-color: aquamarine;
	border: 1px dashed white;
}
